// varibale
$bg-color : #130f40;
$bg-wrap-book : #2c2c54;
$bg-wrap-page : #F8EFBA;

$perspective : 250rem;

$weight-bold : bold;

$font-size-icon : 24px;

$font-text-small : 12px;
$font-title : 24px;
$font-sub-title : 18px;

$font-family-text : 'Texturina', serif;
$font-family-title: 'Playfair Display', serif;

$color-black : #000000;
$color-title : #D980FA;
$color-link : #EA2027;

// Mixin

// Reset tag

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

// Css

body {
  min-height: 100vh;
  height: 100vh;
  background: url(./../img/bg1.jpeg) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-family-text !important;
  font-size: 14px;
  line-height: 1.4;
  padding: 30px 0;
}

.wrap-book {
  max-width: 992px;
  width: 80%;
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  perspective: $perspective;
  padding: 1.5rem;
  box-shadow: 0 0 12px rgba(0,0,0,.5);
  
  &__cover {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: $bg-wrap-book;
    border-radius: 20px;

    &.turn {
      animation: show-up 2s ease;
    }
  }

  &--left {
    left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &--right {
    right: 0;
    z-index: 10;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transform: rotateY(-180deg);
    transition: transform .4s ease;
    transform-origin: 0 0;

    &.turn {
      transform: rotateY(0);
      z-index: -1;
    }
  }

  &__list {
    width: 100%;
    height: 100%;
    perspective: $perspective;
    display: flex;
  }
}
.page {
  width: 50%;
  height: 100%;
  background: $bg-wrap-page;
  box-shadow: inset 0 0 5px rgba(0,0,0,.5);
  padding: 15px;
  display: grid;
  position: relative;
  perspective: $perspective;

  &--right {
    position: absolute;
    right: 0;
    transition: all .4s;
    transform-origin: left;
    transform-style: preserve-3d;
    box-shadow: inset 0 0 2px rgba(0,0,0,.5);
    
    &.turn {
      transform: rotateY(-180deg);
      transform-origin: 0% 0%;
      z-index: 10;
    }
  }

  &__item {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 15px;
    overflow: hidden;
  }  

  &--front {
    transform: rotateY(0) translateZ(1px);
  }

  &--back {
    transform: rotateY(180deg) translateZ(1px);
    z-index: -1;

    .page__number {
      left: unset;
      right: 20px;
    }
  }

  &__change {
    position: absolute;
    bottom: 25px;
    right: 25px;
    text-decoration: none;
    color: $color-black;
    animation: slide-left 2s linear infinite;

    &:hover {
      color:purple;
      text-decoration: none;
    }
  }

  &__number {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
     font-size: $font-text-small;
     font-weight: $weight-bold;
    }

  }

  &__intro-top {
    width: 100%;
    text-align: center;
    img {
      max-width: 150px;
      height: 150px;
      border-radius: 20%;
    }

    .profile {
      margin-top: 15px;
      font-family: $font-family-title;
    }

    ul.social {
      margin-top: 15px;
      display: flex;
      justify-content: center;

      li {
        list-style: none;
        margin: 0 15px;

        a {
          text-decoration: none;

          &.icon-face {
            color: blue;
          }

          &.icon-youtube {
            color: red;
          }

          &.icon-github {
            color: black;
          }
  
          i.fa {
            font-size: $font-size-icon;
          }
        }
      } 
    }
  }

  &__content {
    position: relative;

    h3.title {
      font-family: $font-family-title;
      font-size: $font-title;
      color: $color-title;

      &--inline {
        white-space: nowrap;
      }
    }

    .sub-title {
      font-family: $font-family-title;
      font-size: $font-sub-title;
    }

    ul.list-skill {
      margin-left: 50px;
      list-style: none;
      margin: 5px 0 5px 50px;

      li {
        padding: 7px 0;
        border-bottom: 1px solid #ddd;
        position: relative;
        display: flex;
        align-items: center;

        span:nth-child(1) {
          max-width: 30%;
          width: 25%;
        }

        &::before {
          content: '\f0a4';
          font-family: "FontAwesome";
          position: absolute;
          left: -20px;
          animation: slide-left 2s linear infinite;
        }
      }
    }

    .timeline-exp {
      margin-left: 30px;
      display: block;
      height: 5px;
      background: purple;
      transition: width .3s ease;

      &.active {
        animation: showWidth 1.5s ease;
      }
    }

    .image-desc {
      display: flex;
      flex-wrap: wrap;
      margin: 5px -2px;

      a {
        flex: 0 0 33.33%;
        padding: 0 2px;

        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }

    .view-link {
      padding-top: 75px;
      text-align: center;

      &__arrow {
        margin-top: -50px;
        animation: slide-down 2s linear infinite;
        
        i.fa {
          font-weight: $weight-bold;
          font-size: $font-size-icon;
          color: $color-link;
        }
      }
    }

    @keyframes showWidth {
      0% {
        width: 0;
      } 

      100% {
        width: 100%;
      }
    }

    p.description {
      font-family: $font-family-text;
    }

    .thankyou {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      span {
        font-size: $font-text-small;
        font-family: $font-family-title;

        padding-bottom: 3px;
        border-bottom: 1px solid;
      }
    }
  }

  &__relax {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .back {
    left: 20px;
    right: unset;
  }
}


@keyframes slide-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-5px);
  }
}
@keyframes slide-down {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}